<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lkd.mapper.SkuMapper">
    <!--更新-->
    <update id="update">
        update tb_sku
        <set>
            <if test="skuName!=null and skuName!=''">
                sku_name=#{skuName},
            </if>
            <if test="skuImage!=null and skuImage!=''">
                sku_image=#{skuImage},
            </if>
            <if test="price!=null">
                price=#{price},
            </if>
            <if test="classId!=null">
                class_id=#{classId},
            </if>
            <if test="isDiscount!=null">
                is_discount=#{isDiscount},
            </if>
            <if test="unit!=null and unit!=''">
                unit=#{unit},
            </if>
            <if test="brandName!=null and brandName!=''">
                brand_name=#{brandName},
            </if>
            <if test="updateTime!=null">
                update_time=#{updateTime},
            </if>
        </set>
        where sku_id=#{skuId}
    </update>

    <!--分页模糊查询-->
    <select id="search" resultMap="skuVO">
        select * from tb_sku s left join tb_sku_class c on s.class_id=c.class_id
        <where>
            <if test="skuName!=null and skuName!=''">
                sku_name like concat('%',#{skuName},'%')
            </if>
        </where>
    </select>
    <resultMap id="skuVO" type="com.lkd.vo.SkuVO">
        <id property="skuId" column="sku_id"/>
        <result property="skuName" column="sku_name"/>
        <result property="classId" column="class_id"/>
        <result property="skuImage" column="sku_image"/>
        <result property="unit" column="unit"/>
        <result property="price" column="price"/>
        <result property="brandName" column="brand_name"/>
        <result property="createTime" column="create_time"/>
        <result property="isDiscount" column="is_discount"/>
        <result property="updateTime" column="update_time"/>
        <association property="skuClass" column="sku_class" resultMap="skuClassPO"/>
    </resultMap>
    <resultMap id="skuClassPO" type="skuClass">
        <id property="classId" column="class_id"/>
        <result property="className" column="class_name"/>
        <result property="parentId" column="parent_id"/>
    </resultMap>
</mapper>
